In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

# Winery Growth in the US from (2009 - 2017)

In [3]:
csvpath_WR = os.path.join('..', 'Data','Clean', 'us_wineries_2009_2019_clean.csv')
WR_df = pd.read_csv(csvpath_WR)
WR_df

   year number of wineries in US
0  2009                    6,357
1  2010                    6,941
2  2011                    7,306
3  2012                    7,396
4  2013                    7,498
5  2014                    7,762
6  2015                    8,287
7  2016                    8,702
8  2017                    9,091
9  2018                    9,654

In [ ]:
file_df

In [ ]:
# Plot Vineyards, Wineries and Testing rooms
data_df = file_df[['State','Vineyards','Wineries','Tasting Rooms']]
group_df = data_df.groupby('State').sum()
group_df

# Unsure if the below data is a snapshot on a particular year

# 2-Check us_wineries_2009_2019_clean.csv

In [ ]:

csvpath1 = os.path.join('..', 'Data','Clean', 'us_wineries_2009_2019_clean.csv')
file_df1 = pd.read_csv(csvpath1)

file_df1

# 3-Check Bonded_wine_producers_by_state_1999_june_2019_clean.csv

In [ ]:

csvpath2 = os.path.join('..', 'Data','Clean', 'Bonded_wine_producers_by_state_1999_june_2019_clean.csv')
file_df2 = pd.read_csv(csvpath2)
file_df2.

In [ ]:
#Investigating rows with Null values
file_df2.loc[file_df2.isnull().any(axis=1)]

In [ ]:
# Replace all NaN values with 0 
cleaned_df = file_df2.fillna(0)

# Drop Throu

# 4-Check Alcohol_Use_Persons_21_or_Older_by_Geographic_Socioeconomic_in_Thousands_2017_2018.csv

In [ ]:
csvpath3 = os.path.join('..', 'Data','Clean', 'Alcohol_Use_Persons_21_or_Older_by_Geographic_Socioeconomic_in_Thousands_2017_2018.csv')
file_df3 = pd.read_csv(csvpath3)

file_df3.head()

# 5-Check per_capita_alcohol_consumption_geographic_1977_2017_clean.csv

In [4]:
csvpath4 = os.path.join('..', 'Data','Clean', 'per_capita_alcohol_consumption_geographic_1977_2017_clean.csv')
file_df4 = pd.read_csv(csvpath4)

file_df4

,geographic area,Year,Beer,Wine,Spirits,All beverages,Decile all beverages
0,Alabama,2017.0,1.06,0.26,0.67,1.99,9.0
1,Alabama,2016.0,1.09,0.26,0.65,2.01,9.0
2,Alabama,2015.0,1.12,0.26,0.64,2.01,9.0
3,Alabama,2014.0,1.13,0.25,0.62,2.00,9.0
4,Alabama,2013.0,1.14,0.25,0.60,1.99,9.0
...,...,...,...,...,...,...,...
2291,U.S. total,1981.0,1.39,0.35,1.02,2.76,0.0
2292,U.S. total,1980.0,1.37,0.34,1.04,2.75,0.0
2293,U.S. total,1979.0,1.34,0.31,1.04,2.70,0.0
2294,U.S. total,1978.0,1.30,0.30,1.05,2.66,0.0
2295,U.S. total,1977.0,1.27,0.29,1.04,2.60,0.0

# 6-Check NIAAA_2017_Alcohol_Consumption_2017_Clean.csv

In [ ]:
csvpath5 = os.path.join('..', 'Data','Clean', 'NIAAA_2017_Alcohol_Consumption_2017_Clean.csv')
file_df5 = pd.read_csv(csvpath5)

file_df5.head()

# 7-Check Annual_Resident_Population_Estimates_UTF8.csv

In [ ]:
csvpath6 = os.path.join('..', 'Data','Clean', 'Annual_Resident_Population_Estimates_UTF8.csv')
file_df6 = pd.read_csv(csvpath6)

file_df6.head()