In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import numpy as np
from citipy import citipy

In [2]:
obesity = pd.read_csv(os.path.join("..","Data","Clean","US_Adults_Percent_Overweight_by_State_Year_Clean.csv"))
liver = pd.read_csv(os.path.join("..","Data","Clean","Liver_Disease_Cirrhosis_Mortality_Clean.csv"))
alc_use = pd.read_csv(os.path.join("..","Data","Clean","Alcohol_Use_Geo_Data_Clean.csv"))

In [3]:
obesity_df = pd.DataFrame(obesity)
liver_df = pd.DataFrame(liver)
alc_use_df = pd.DataFrame(alc_use)

In [4]:
obesity_df.head()

        Location   2013   2014   2015   2016   2017
0  United States  0.638  0.641  0.645  0.648  0.654
1        Alabama  0.682  0.670  0.687  0.695  0.702
2         Alaska  0.661  0.648  0.672  0.667  0.667
3        Arizona  0.618  0.640  0.653  0.632  0.648
4       Arkansas  0.699  0.706  0.695  0.682  0.705

In [9]:
liver_df.head()

,STATE,AVERAGE DEATH RATE,TOTAL DEATHS,2005 DEATH RATE,2005 DEATH COUNT,2017 DEATH RATE,2017 DEATH COUNT,TOTAL DEATH RATE CHANGE,TOTAL DEATH RATE % CHANGE,TOTAL DEATHS % CHANGE
0,AK,13.30,495,9.0,52,15.1,121,6.1,0.677778,1.326923
1,AL,11.98,3414,9.7,478,12.7,756,3.0,0.309278,0.581590
2,AR,10.62,1833,7.5,228,11.3,399,3.8,0.506667,0.750000
3,AZ,14.24,5305,12.7,757,14.3,1137,1.6,0.125984,0.501982
4,CA,12.02,24872,11.1,3822,12.1,5325,1.0,0.090090,0.393250

In [6]:
alc_use_df.head()

,Geographic/Socioeconomic Type,Geographic/Socioeconomic Characteristic,Lifetime Alcohol Use 2017 (K),Lifetime Alcohol Use 2018 (K),Past Year Alcohol Use 2017 (K),Past Year Alcohol Use 2018 (K),Past Month Alcohol Use 2017 (K),Past Month Alcohol Use 2018 (K),Past Month Binge Alcohol Use 2017 (K),Past Month Binge Alcohol Use 2018 (K),Past Month Heavy Alcohol Use 2017 (K),Past Month Heavy Alcohol Use 2018 (K),YOY % Change Heavy Use,YOY % Change Binge Use
0,Overall,TOTAL,204536,206099,165552,166459,133148,132688,62122,62737,15785,15708,-0.004878,0.009900
1,GEOGRAPHIC REGION,Northeast,37109,36594,31502,30672,25778,24862,11820,11491,2918,2883,-0.011995,-0.027834
2,GEOGRAPHIC REGION,Midwest,44429,44548,36183,36532,29227,29577,13938,14425,3724,3638,-0.023093,0.034940
3,GEOGRAPHIC REGION,South,74907,76328,58610,59621,46082,46308,21881,22354,5674,5430,-0.043003,0.021617
4,GEOGRAPHIC REGION,West,48091,48630,39257,39634,32061,31940,14484,14467,3468,3757,0.083333,-0.001174