In [1]:
import pandas as pd
import os

In [39]:
file = pd.read_csv(os.path.join("..","Data","Raw","us_wineries_2009_2019.csv"),header=None)
print(file)

                                                    0  \
0            Producing wineries in the U.S. 2009-2019
1   Total number of wineries in the United States ...
2                                                year
3                                                2009
4                                                2010
5                                                2011
6                                                2012
7                                                2013
8                                                2014
9                                                2015
10                                               2016
11                                               2017
12                                               2018
13                                               2019
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                                NaN
33                                                NaN
34                                                NaN
35                                                NaN
36                                                NaN
37                                                NaN
38                                                NaN
39                                                NaN

                           1
0                        NaN
1                        NaN
2   number of wineries in US
3                      6,357
4                      6,941
5                      7,306
6                      7,396
7                      7,498
8                      7,762
9                      8,287
10                     8,702
11                     9,091
12                     9,654
13                    10,043
14                       NaN
15                       NaN
16                       NaN
17                       NaN
18                       NaN
19                       NaN
20                       NaN
21                       NaN
22                       NaN
23                       NaN
24                       NaN
25                       NaN
26                       NaN
27                       NaN
28                       NaN
29                       NaN
30                       NaN
31                       NaN
32                       NaN
33                       NaN
34                       NaN
35                       NaN
36                       NaN
37                       NaN
38                       NaN
39                       NaN

In [40]:
producing_wineries_df = pd.DataFrame(file)
producing_wineries_df

,0,1
0,Producing wineries in the U.S. 2009-2019,NaN
1,Total number of wineries in the United States ...,NaN
2,year,number of wineries in US
3,2009,"6,357"
4,2010,"6,941"
5,2011,"7,306"
6,2012,"7,396"
7,2013,"7,498"
8,2014,"7,762"
9,2015,"8,287"
10,2016,"8,702"
11,2017,"9,091"
12,2018,"9,654"
13,2019,"10,043"
14,NaN,NaN
15,NaN,NaN
16,NaN,NaN
17,NaN,NaN
18,NaN,NaN
19,NaN,NaN
20,NaN,NaN
21,NaN,NaN
22,NaN,NaN
23,NaN,NaN
24,NaN,NaN
25,NaN,NaN
26,NaN,NaN
27,NaN,NaN
28,NaN,NaN
29,NaN,NaN
30,NaN,NaN
31,NaN,NaN
32,NaN,NaN
33,NaN,NaN
34,NaN,NaN
35,NaN,NaN
36,NaN,NaN
37,NaN,NaN
38,NaN,NaN
39,NaN,NaN

In [41]:
producing_wineries_df.dropna()

       0                         1
2   year  number of wineries in US
3   2009                     6,357
4   2010                     6,941
5   2011                     7,306
6   2012                     7,396
7   2013                     7,498
8   2014                     7,762
9   2015                     8,287
10  2016                     8,702
11  2017                     9,091
12  2018                     9,654
13  2019                    10,043

In [73]:
headers = producing_wineries_df.iloc[2]
new_producing_wineries_df = pd.DataFrame(producing_wineries_df.values[3:13,:], columns=headers)
new_producing_wineries_df.set_index('year', inplace = True)
new_producing_wineries_df

2    number of wineries in US
year
2009                    6,357
2010                    6,941
2011                    7,306
2012                    7,396
2013                    7,498
2014                    7,762
2015                    8,287
2016                    8,702
2017                    9,091
2018                    9,654

In [82]:
new_producing_wineries_df.to_csv(os.path.join("..","Data","Clean","us_wineries_2009_2019_clean.csv"))

In [84]:
file_overwt = pd.read_csv(os.path.join("..","Data","Raw","US_Adults_Percent_Overweight_by_State_Year.csv"),header=0)
print(file_overwt)

                Location   2013   2014   2015   2016   2017
0          United States  0.638  0.641  0.645  0.648  0.654
1                Alabama  0.682  0.670  0.687  0.695  0.702
2                 Alaska  0.661  0.648  0.672  0.667  0.667
3                Arizona  0.618  0.640  0.653  0.632  0.648
4               Arkansas  0.699  0.706  0.695  0.682  0.705
5             California  0.601  0.597  0.604  0.610  0.609
6               Colorado  0.564  0.574  0.566  0.581  0.587
7            Connecticut  0.625  0.604  0.616  0.618  0.632
8               Delaware  0.646  0.674  0.668  0.680  0.685
9   District of Columbia  0.538  0.549  0.544  0.534  0.539
10               Florida  0.628  0.622  0.641  0.632  0.641
11               Georgia  0.657  0.657  0.655  0.658  0.653
12                Hawaii  0.554  0.581  0.570  0.576  0.588
13                 Idaho  0.649  0.657  0.652  0.645  0.659
14              Illinois  0.647  0.638  0.662  0.650  0.658
15               Indiana  0.673  0.665  0.665  0.672  0.680
16                  Iowa  0.670  0.669  0.667  0.687  0.701
17                Kansas  0.653  0.660  0.680  0.667  0.672
18              Kentucky  0.673  0.667  0.672  0.691  0.678
19             Louisiana  0.674  0.689  0.692  0.692  0.700
20                 Maine  0.648  0.645  0.665  0.652  0.651
21              Maryland  0.641  0.649  0.650  0.646  0.662
22         Massachusetts  0.580  0.589  0.597  0.602  0.614
23              Michigan  0.662  0.656  0.662  0.675  0.672
24             Minnesota  0.611  0.641  0.629  0.648  0.649
25           Mississippi  0.693  0.707  0.701  0.713  0.699
26              Missouri  0.655  0.656  0.663  0.672  0.678
27               Montana  0.614  0.630  0.610  0.627  0.622
28              Nebraska  0.655  0.667  0.670  0.685  0.690
29                Nevada  0.649  0.635  0.647  0.623  0.657
30         New Hampshire  0.618  0.636  0.636  0.635  0.649
31            New Jersey  0.628  0.631  0.634  0.638  0.626
32            New Mexico  0.627  0.649  0.645  0.649  0.652
33              New York  0.613  0.611  0.595  0.608  0.613
34        North Carolina  0.661  0.656  0.658  0.668  0.669
35          North Dakota  0.676  0.688  0.670  0.681  0.694
36                  Ohio  0.651  0.667  0.665  0.663  0.680
37              Oklahoma  0.679  0.682  0.689  0.688  0.706
38                Oregon  0.599  0.617  0.645  0.626  0.645
39          Pennsylvania  0.645  0.641  0.662  0.654  0.671
40          Rhode Island  0.646  0.624  0.627  0.637  0.649
41        South Carolina  0.665  0.670  0.662  0.674  0.681
42          South Dakota  0.670  0.652  0.645  0.669  0.677
43             Tennessee  0.684  0.671  0.687  0.686  0.683
44                 Texas  0.661  0.678  0.687  0.684  0.694
45                  Utah  0.592  0.595  0.597  0.604  0.606
46               Vermont  0.619  0.602  0.599  0.617  0.626
47              Virginia  0.640  0.647  0.641  0.655  0.663
48            Washington  0.614  0.634  0.625  0.635  0.622
49         West Virginia  0.688  0.696  0.711  0.709  0.717
50             Wisconsin  0.665  0.674  0.660  0.662  0.673
51               Wyoming  0.644  0.646  0.654  0.642  0.647
52                  Guam  0.635  0.634  0.671  0.645  0.671
53           Puerto Rico  0.666  0.659  0.670  0.665  0.683
54   U.S. Virgin Islands    NaN    NaN    NaN  0.652  0.652

In [88]:
obesity_df = pd.DataFrame(file_overwt)
obesity_df = obesity_df.fillna(value=0)
obesity_df.set_index('Location', inplace = True)
obesity_df

                       2013   2014   2015   2016   2017
Location
United States         0.638  0.641  0.645  0.648  0.654
Alabama               0.682  0.670  0.687  0.695  0.702
Alaska                0.661  0.648  0.672  0.667  0.667
Arizona               0.618  0.640  0.653  0.632  0.648
Arkansas              0.699  0.706  0.695  0.682  0.705
California            0.601  0.597  0.604  0.610  0.609
Colorado              0.564  0.574  0.566  0.581  0.587
Connecticut           0.625  0.604  0.616  0.618  0.632
Delaware              0.646  0.674  0.668  0.680  0.685
District of Columbia  0.538  0.549  0.544  0.534  0.539
Florida               0.628  0.622  0.641  0.632  0.641
Georgia               0.657  0.657  0.655  0.658  0.653
Hawaii                0.554  0.581  0.570  0.576  0.588
Idaho                 0.649  0.657  0.652  0.645  0.659
Illinois              0.647  0.638  0.662  0.650  0.658
Indiana               0.673  0.665  0.665  0.672  0.680
Iowa                  0.670  0.669  0.667  0.687  0.701
Kansas                0.653  0.660  0.680  0.667  0.672
Kentucky              0.673  0.667  0.672  0.691  0.678
Louisiana             0.674  0.689  0.692  0.692  0.700
Maine                 0.648  0.645  0.665  0.652  0.651
Maryland              0.641  0.649  0.650  0.646  0.662
Massachusetts         0.580  0.589  0.597  0.602  0.614
Michigan              0.662  0.656  0.662  0.675  0.672
Minnesota             0.611  0.641  0.629  0.648  0.649
Mississippi           0.693  0.707  0.701  0.713  0.699
Missouri              0.655  0.656  0.663  0.672  0.678
Montana               0.614  0.630  0.610  0.627  0.622
Nebraska              0.655  0.667  0.670  0.685  0.690
Nevada                0.649  0.635  0.647  0.623  0.657
New Hampshire         0.618  0.636  0.636  0.635  0.649
New Jersey            0.628  0.631  0.634  0.638  0.626
New Mexico            0.627  0.649  0.645  0.649  0.652
New York              0.613  0.611  0.595  0.608  0.613
North Carolina        0.661  0.656  0.658  0.668  0.669
North Dakota          0.676  0.688  0.670  0.681  0.694
Ohio                  0.651  0.667  0.665  0.663  0.680
Oklahoma              0.679  0.682  0.689  0.688  0.706
Oregon                0.599  0.617  0.645  0.626  0.645
Pennsylvania          0.645  0.641  0.662  0.654  0.671
Rhode Island          0.646  0.624  0.627  0.637  0.649
South Carolina        0.665  0.670  0.662  0.674  0.681
South Dakota          0.670  0.652  0.645  0.669  0.677
Tennessee             0.684  0.671  0.687  0.686  0.683
Texas                 0.661  0.678  0.687  0.684  0.694
Utah                  0.592  0.595  0.597  0.604  0.606
Vermont               0.619  0.602  0.599  0.617  0.626
Virginia              0.640  0.647  0.641  0.655  0.663
Washington            0.614  0.634  0.625  0.635  0.622
West Virginia         0.688  0.696  0.711  0.709  0.717
Wisconsin             0.665  0.674  0.660  0.662  0.673
Wyoming               0.644  0.646  0.654  0.642  0.647
Guam                  0.635  0.634  0.671  0.645  0.671
Puerto Rico           0.666  0.659  0.670  0.665  0.683
U.S. Virgin Islands   0.000  0.000  0.000  0.652  0.652

In [93]:
obesity_df.to_csv(os.path.join("..","Data","Clean","US_Adults_Percent_Overweight_by_State_Year_Clean.csv"))

In [94]:
file_rpp = pd.read_csv(os.path.join("..","Data","Raw","Regional_Price_Parity_Data.csv"),header=4)
print(file_rpp)

                                                GeoFips  \
0                                                 00000
1                                                 00000
2                                                 00000
3                                                 00000
4                                                 00999
5                                                 00999
6                                                 00999
7                                                 00999
8                                                 10180
9                                                 10180
10                                                10180
11                                                10180
12                                                10420
13                                                10420
14                                                10420
15                                                10420
16                                                10500
17                                                10500
18                                                10500
19                                                10500
20                                                10540
21                                                10540
22                                                10540
23                                                10540
24                                                10580
25                                                10580
26                                                10580
27                                                10580
28                                                10740
29                                                10740
...                                                 ...
1519                                              49180
1520                                              49340
1521                                              49340
1522                                              49340
1523                                              49340
1524                                              49420
1525                                              49420
1526                                              49420
1527                                              49420
1528                                              49620
1529                                              49620
1530                                              49620
1531                                              49620
1532                                              49660
1533                                              49660
1534                                              49660
1535                                              49660
1536                                              49700
1537                                              49700
1538                                              49700
1539                                              49700
1540                                              49740
1541                                              49740
1542                                              49740
1543                                              49740
1544                                Legend / Footnotes:
1545  1/ Regional Price Parities for the United Stat...
1546  2/ Regional Price Parities are not available f...
1547                                (NA) Not available.
1548  Last updated: November 14, 2019-- revised stat...

                                                GeoName  LineCode  \
0                                         United States       1.0
1                                         United States       2.0
2                                         United States       3.0
3                                         United States       4.0
4             United States (Nonmetropolitan Portion)1/       1.0
5             United States (Nonmetropolitan Portion)1/       2.0
6             United States (Nonmetropolitan Portion)1/       3.0
7             United States (Nonmetropolitan Portion)1/       4.0
8           Abilene, TX (Metropolitan Statistical Area)       1.0
9           Abilene, TX (Metropolitan Statistical Area)       2.0
10          Abilene, TX (Metropolitan Statistical Area)       3.0
11          Abilene, TX (Metropolitan Statistical Area)       4.0
12            Akron, OH (Metropolitan Statistical Area)       1.0
13            Akron, OH (Metropolitan Statistical Area)       2.0
14            Akron, OH (Metropolitan Statistical Area)       3.0
15            Akron, OH (Metropolitan Statistical Area)       4.0
16           Albany, GA (Metropolitan Statistical Area)       1.0
17           Albany, GA (Metropolitan Statistical Area)       2.0
18           Albany, GA (Metropolitan Statistical Area)       3.0
19           Albany, GA (Metropolitan Statistical Area)       4.0
20    Albany-Lebanon, OR (Metropolitan Statistical A...       1.0
21    Albany-Lebanon, OR (Metropolitan Statistical A...       2.0
22    Albany-Lebanon, OR (Metropolitan Statistical A...       3.0
23    Albany-Lebanon, OR (Metropolitan Statistical A...       4.0
24    Albany-Schenectady-Troy, NY (Metropolitan Stat...       1.0
25    Albany-Schenectady-Troy, NY (Metropolitan Stat...       2.0
26    Albany-Schenectady-Troy, NY (Metropolitan Stat...       3.0
27    Albany-Schenectady-Troy, NY (Metropolitan Stat...       4.0
28      Albuquerque, NM (Metropolitan Statistical Area)       1.0
29      Albuquerque, NM (Metropolitan Statistical Area)       2.0
...                                                 ...       ...
1519  Winston-Salem, NC (Metropolitan Statistical Area)       4.0
1520   Worcester, MA-CT (Metropolitan Statistical Area)       1.0
1521   Worcester, MA-CT (Metropolitan Statistical Area)       2.0
1522   Worcester, MA-CT (Metropolitan Statistical Area)       3.0
1523   Worcester, MA-CT (Metropolitan Statistical Area)       4.0
1524         Yakima, WA (Metropolitan Statistical Area)       1.0
1525         Yakima, WA (Metropolitan Statistical Area)       2.0
1526         Yakima, WA (Metropolitan Statistical Area)       3.0
1527         Yakima, WA (Metropolitan Statistical Area)       4.0
1528   York-Hanover, PA (Metropolitan Statistical Area)       1.0
1529   York-Hanover, PA (Metropolitan Statistical Area)       2.0
1530   York-Hanover, PA (Metropolitan Statistical Area)       3.0
1531   York-Hanover, PA (Metropolitan Statistical Area)       4.0
1532  Youngstown-Warren-Boardman, OH-PA (Metropolita...       1.0
1533  Youngstown-Warren-Boardman, OH-PA (Metropolita...       2.0
1534  Youngstown-Warren-Boardman, OH-PA (Metropolita...       3.0
1535  Youngstown-Warren-Boardman, OH-PA (Metropolita...       4.0
1536      Yuba City, CA (Metropolitan Statistical Area)       1.0
1537      Yuba City, CA (Metropolitan Statistical Area)       2.0
1538      Yuba City, CA (Metropolitan Statistical Area)       3.0
1539      Yuba City, CA (Metropolitan Statistical Area)       4.0
1540           Yuma, AZ (Metropolitan Statistical Area)       1.0
1541           Yuma, AZ (Metropolitan Statistical Area)       2.0
1542           Yuma, AZ (Metropolitan Statistical Area)       3.0
1543           Yuma, AZ (Metropolitan Statistical Area)       4.0
1544                                                NaN       NaN
1545                                                NaN       NaN
1546                                                NaN       NaN
1547                                                NaN       NaN
1548                                                NaN       NaN

                  Description   2008   2009   2010   2011   2012   2013  \
0             RPPs: All items  100.0  100.0  100.0  100.0  100.0  100.0
1                 RPPs: Goods   99.3   99.2   99.0   99.0   99.0   99.0
2       RPPs: Services: Rents  101.1  101.2  102.0  101.9  101.8  101.8
3       RPPs: Services: Other  100.3  100.3  100.1  100.1  100.1  100.1
4             RPPs: All items   86.6   86.8   87.3   87.5   87.8   88.2
5                 RPPs: Goods   94.3   94.4   94.1   93.9   93.9   93.8
6       RPPs: Services: Rents   63.4   63.3   62.7   63.1   63.5   63.8
7       RPPs: Services: Other   92.1   91.8   91.9   92.4   92.9   93.9
8             RPPs: All items   90.4   89.8   90.4   90.8   91.4   90.9
9                 RPPs: Goods   98.1   98.1   97.2   97.0   97.0   96.8
10      RPPs: Services: Rents   73.4   72.1   72.8   74.6   77.1   75.7
11      RPPs: Services: Other   94.6   94.3   94.0   94.1   94.2   94.0
12            RPPs: All items   89.4   88.5   88.5   89.0   88.8   89.6
13                RPPs: Goods   94.3   93.9   94.0   95.1   94.6   95.3
14      RPPs: Services: Rents   81.9   79.3   77.9   77.6   77.7   78.2
15      RPPs: Services: Other   88.1   87.9   88.1   88.4   88.5   89.6
16            RPPs: All items   83.3   83.6   84.2   84.6   84.6   84.4
17                RPPs: Goods   98.0   98.0   97.1   96.9   96.8   96.7
18      RPPs: Services: Rents   54.7   56.0   54.3   56.3   56.3   55.8
19      RPPs: Services: Other   94.5   94.2   93.9   94.1   94.2   94.1
20            RPPs: All items   96.5   96.0   95.2   93.8   93.1   93.7
21                RPPs: Goods   99.8   99.1   99.3   98.9   98.7   98.8
22      RPPs: Services: Rents   88.2   90.4   88.3   85.3   84.3   85.3
23      RPPs: Services: Other   98.8   95.8   94.8   93.9   93.4   94.2
24            RPPs: All items  100.1   99.6   98.6   98.6   99.1   99.6
25                RPPs: Goods   98.4   98.2   97.9   97.7   97.9   98.1
26      RPPs: Services: Rents  105.7  104.1  101.7  102.6  104.3  104.4
27      RPPs: Services: Other   99.3   98.8   97.9   97.7   98.0   98.8
28            RPPs: All items   96.1   97.0   97.0   97.3   97.2   97.4
29                RPPs: Goods   95.9   96.7   97.1   97.6   97.0   96.4
...                       ...    ...    ...    ...    ...    ...    ...
1519    RPPs: Services: Other   95.2   94.8   94.3   94.4   94.4   94.0
1520          RPPs: All items  105.3  105.1  104.5  104.3  104.0  103.5
1521              RPPs: Goods   98.9   98.1   97.6   98.9  100.2  100.5
1522    RPPs: Services: Rents  106.2  106.9  105.2  106.0  105.7  104.5
1523    RPPs: Services: Other  112.2  112.2  111.9  109.4  107.2  106.3
1524          RPPs: All items   93.2   94.4   94.8   95.8   95.5   95.6
1525              RPPs: Goods   95.8   96.6   97.1   97.6   96.9   96.4
1526    RPPs: Services: Rents   79.3   81.0   80.2   82.8   81.5   81.7
1527    RPPs: Services: Other   97.6   99.3  100.2  100.8  101.3  102.7
1528          RPPs: All items   96.4   96.2   95.5   95.8   96.1   96.3
1529              RPPs: Goods   98.4   98.2   97.9   97.7   97.9   98.1
1530    RPPs: Services: Rents   87.2   87.8   86.5   88.2   89.1   88.4
1531    RPPs: Services: Other   99.3   98.8   97.9   97.7   98.0   98.8
1532          RPPs: All items   89.1   88.2   88.5   88.5   88.7   88.4
1533              RPPs: Goods   96.8   97.4   97.4   97.5   97.7   97.9
1534    RPPs: Services: Rents   65.2   63.1   61.5   60.9   62.3   62.1
1535    RPPs: Services: Other   96.4   95.8   95.3   95.3   95.2   94.7
1536          RPPs: All items   97.7   98.6   98.3   98.8   98.7   99.3
1537              RPPs: Goods   95.8   96.6   97.1   97.6   96.9   96.4
1538    RPPs: Services: Rents  102.3  102.1   97.8   98.3   97.9   99.6
1539    RPPs: Services: Other   97.6   99.3  100.2  100.8  101.3  102.8
1540          RPPs: All items   93.3   94.8   94.2   95.1   93.9   94.0
1541              RPPs: Goods   95.8   96.6   97.1   97.6   96.9   96.4
1542    RPPs: Services: Rents   81.8   84.5   79.9   81.6   77.5   77.1
1543    RPPs: Services: Other   97.6   99.3  100.2  100.8  101.3  102.7
1544                      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1545                      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1546                      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1547                      NaN    NaN    NaN    NaN    NaN    NaN    NaN
1548                      NaN    NaN    NaN    NaN    NaN    NaN    NaN

       2014   2015   2016   2017
0     100.0  100.0  100.0  100.0
1      99.0   99.0   99.0   99.0
2     101.7  101.7  101.7  101.8
3     100.1  100.1  100.1  100.1
4      88.1   88.0   87.7   87.5
5      93.9   94.2   94.2   94.2
6      64.1   63.9   63.7   63.3
7      94.0   93.7   93.7   93.7
8      91.2   90.9   91.5   91.2
9      97.2   97.4   97.3   97.4
10     77.8   76.9   79.5   78.7
11     93.5   93.5   93.5   93.5
12     90.1   90.5   90.3   90.4
13     95.6   95.6   95.7   95.8
14     77.9   77.8   76.7   77.4
15     90.8   91.7   91.8   91.8
16     84.1   83.9   83.1   82.7
17     97.1   97.2   97.2   97.2
18     55.0   55.6   54.7   54.0
19     93.5   93.5   93.5   93.5
20     94.8   94.0   94.7   94.6
21     99.4  100.2  100.2  100.1
22     88.4   85.5   87.9   87.4
23     94.4   93.4   93.4   93.4
24    100.4  100.8  100.9  100.6
25     98.1   98.1   98.1   98.1
26    104.6  104.9  105.0  103.4
27    100.7  101.8  101.8  101.8
28     96.8   96.4   96.0   95.7
29     95.5   95.2   95.2   95.1
...     ...    ...    ...    ...
1519   93.4   93.5   93.5   93.5
1520  103.9  104.1  103.9  103.6
1521  101.0  101.7  101.7  101.7
1522  104.6  104.4  103.6  102.2
1523  106.6  106.5  106.4  106.4
1524   94.6   93.9   93.2   92.7
1525   95.5   95.2   95.1   95.0
1526   80.3   79.2   77.7   76.5
1527  102.0  101.5  101.5  101.5
1528   97.1   97.3   96.9   96.6
1529   98.1   98.1   98.1   98.1
1530   89.4   88.6   87.5   86.4
1531  100.7  101.8  101.8  101.8
1532   88.3   87.2   87.0   86.6
1533   97.5   96.6   96.6   96.5
1534   62.8   61.2   60.8   59.5
1535   94.9   94.2   94.2   94.2
1536   98.2   97.8   96.8   96.6
1537   95.5   95.2   95.1   95.0
1538   97.7   97.5   93.5   92.9
1539  102.0  101.5  101.5  101.5
1540   92.9   92.1   91.2   90.5
1541   95.5   95.2   95.1   95.0
1542   76.2   74.6   72.6   71.1
1543  102.0  101.5  101.5  101.5
1544    NaN    NaN    NaN    NaN
1545    NaN    NaN    NaN    NaN
1546    NaN    NaN    NaN    NaN
1547    NaN    NaN    NaN    NaN
1548    NaN    NaN    NaN    NaN

[1549 rows x 14 columns]

In [96]:
rpp_df = pd.DataFrame(file_rpp)
rpp_df.set_index("GeoFips", inplace = True)
rpp_df

,GeoName,LineCode,Description,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
GeoFips,,,,,,,,,,,,,
00000,United States,1.0,RPPs: All items,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
00000,United States,2.0,RPPs: Goods,99.3,99.2,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
00000,United States,3.0,RPPs: Services: Rents,101.1,101.2,102.0,101.9,101.8,101.8,101.7,101.7,101.7,101.8
00000,United States,4.0,RPPs: Services: Other,100.3,100.3,100.1,100.1,100.1,100.1,100.1,100.1,100.1,100.1
00999,United States (Nonmetropolitan Portion)1/,1.0,RPPs: All items,86.6,86.8,87.3,87.5,87.8,88.2,88.1,88.0,87.7,87.5
00999,United States (Nonmetropolitan Portion)1/,2.0,RPPs: Goods,94.3,94.4,94.1,93.9,93.9,93.8,93.9,94.2,94.2,94.2
00999,United States (Nonmetropolitan Portion)1/,3.0,RPPs: Services: Rents,63.4,63.3,62.7,63.1,63.5,63.8,64.1,63.9,63.7,63.3
00999,United States (Nonmetropolitan Portion)1/,4.0,RPPs: Services: Other,92.1,91.8,91.9,92.4,92.9,93.9,94.0,93.7,93.7,93.7
10180,"Abilene, TX (Metropolitan Statistical Area)",1.0,RPPs: All items,90.4,89.8,90.4,90.8,91.4,90.9,91.2,90.9,91.5,91.2
10180,"Abilene, TX (Metropolitan Statistical Area)",2.0,RPPs: Goods,98.1,98.1,97.2,97.0,97.0,96.8,97.2,97.4,97.3,97.4
10180,"Abilene, TX (Metropolitan Statistical Area)",3.0,RPPs: Services: Rents,73.4,72.1,72.8,74.6,77.1,75.7,77.8,76.9,79.5,78.7
10180,"Abilene, TX (Metropolitan Statistical Area)",4.0,RPPs: Services: Other,94.6,94.3,94.0,94.1,94.2,94.0,93.5,93.5,93.5,93.5
10420,"Akron, OH (Metropolitan Statistical Area)",1.0,RPPs: All items,89.4,88.5,88.5,89.0,88.8,89.6,90.1,90.5,90.3,90.4
10420,"Akron, OH (Metropolitan Statistical Area)",2.0,RPPs: Goods,94.3,93.9,94.0,95.1,94.6,95.3,95.6,95.6,95.7,95.8
10420,"Akron, OH (Metropolitan Statistical Area)",3.0,RPPs: Services: Rents,81.9,79.3,77.9,77.6,77.7,78.2,77.9,77.8,76.7,77.4
10420,"Akron, OH (Metropolitan Statistical Area)",4.0,RPPs: Services: Other,88.1,87.9,88.1,88.4,88.5,89.6,90.8,91.7,91.8,91.8
10500,"Albany, GA (Metropolitan Statistical Area)",1.0,RPPs: All items,83.3,83.6,84.2,84.6,84.6,84.4,84.1,83.9,83.1,82.7
10500,"Albany, GA (Metropolitan Statistical Area)",2.0,RPPs: Goods,98.0,98.0,97.1,96.9,96.8,96.7,97.1,97.2,97.2,97.2
10500,"Albany, GA (Metropolitan Statistical Area)",3.0,RPPs: Services: Rents,54.7,56.0,54.3,56.3,56.3,55.8,55.0,55.6,54.7,54.0
10500,"Albany, GA (Metropolitan Statistical Area)",4.0,RPPs: Services: Other,94.5,94.2,93.9,94.1,94.2,94.1,93.5,93.5,93.5,93.5
10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",1.0,RPPs: All items,96.5,96.0,95.2,93.8,93.1,93.7,94.8,94.0,94.7,94.6
10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",2.0,RPPs: Goods,99.8,99.1,99.3,98.9,98.7,98.8,99.4,100.2,100.2,100.1
10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",3.0,RPPs: Services: Rents,88.2,90.4,88.3,85.3,84.3,85.3,88.4,85.5,87.9,87.4
10540,"Albany-Lebanon, OR (Metropolitan Statistical A...",4.0,RPPs: Services: Other,98.8,95.8,94.8,93.9,93.4,94.2,94.4,93.4,93.4,93.4
10580,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",1.0,RPPs: All items,100.1,99.6,98.6,98.6,99.1,99.6,100.4,100.8,100.9,100.6
10580,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",2.0,RPPs: Goods,98.4,98.2,97.9,97.7,97.9,98.1,98.1,98.1,98.1,98.1
10580,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",3.0,RPPs: Services: Rents,105.7,104.1,101.7,102.6,104.3,104.4,104.6,104.9,105.0,103.4
10580,"Albany-Schenectady-Troy, NY (Metropolitan Stat...",4.0,RPPs: Services: Other,99.3,98.8,97.9,97.7,98.0,98.8,100.7,101.8,101.8,101.8
10740,"Albuquerque, NM (Metropolitan Statistical Area)",1.0,RPPs: All items,96.1,97.0,97.0,97.3,97.2,97.4,96.8,96.4,96.0,95.7
10740,"Albuquerque, NM (Metropolitan Statistical Area)",2.0,RPPs: Goods,95.9,96.7,97.1,97.6,97.0,96.4,95.5,95.2,95.2,95.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49180,"Winston-Salem, NC (Metropolitan Statistical Area)",4.0,RPPs: Services: Other,95.2,94.8,94.3,94.4,94.4,94.0,93.4,93.5,93.5,93.5
49340,"Worcester, MA-CT (Metropolitan Statistical Area)",1.0,RPPs: All items,105.3,105.1,104.5,104.3,104.0,103.5,103.9,104.1,103.9,103.6
49340,"Worcester, MA-CT (Metropolitan Statistical Area)",2.0,RPPs: Goods,98.9,98.1,97.6,98.9,100.2,100.5,101.0,101.7,101.7,101.7
49340,"Worcester, MA-CT (Metropolitan Statistical Area)",3.0,RPPs: Services: Rents,106.2,106.9,105.2,106.0,105.7,104.5,104.6,104.4,103.6,102.2
49340,"Worcester, MA-CT (Metropolitan Statistical Area)",4.0,RPPs: Services: Other,112.2,112.2,111.9,109.4,107.2,106.3,106.6,106.5,106.4,106.4
49420,"Yakima, WA (Metropolitan Statistical Area)",1.0,RPPs: All items,93.2,94.4,94.8,95.8,95.5,95.6,94.6,93.9,93.2,92.7
49420,"Yakima, WA (Metropolitan Statistical Area)",2.0,RPPs: Goods,95.8,96.6,97.1,97.6,96.9,96.4,95.5,95.2,95.1,95.0
49420,"Yakima, WA (Metropolitan Statistical Area)",3.0,RPPs: Services: Rents,79.3,81.0,80.2,82.8,81.5,81.7,80.3,79.2,77.7,76.5
49420,"Yakima, WA (Metropolitan Statistical Area)",4.0,RPPs: Services: Other,97.6,99.3,100.2,100.8,101.3,102.7,102.0,101.5,101.5,101.5
49620,"York-Hanover, PA (Metropolitan Statistical Area)",1.0,RPPs: All items,96.4,96.2,95.5,95.8,96.1,96.3,97.1,97.3,96.9,96.6
49620,"York-Hanover, PA (Metropolitan Statistical Area)",2.0,RPPs: Goods,98.4,98.2,97.9,97.7,97.9,98.1,98.1,98.1,98.1,98.1
49620,"York-Hanover, PA (Metropolitan Statistical Area)",3.0,RPPs: Services: Rents,87.2,87.8,86.5,88.2,89.1,88.4,89.4,88.6,87.5,86.4
49620,"York-Hanover, PA (Metropolitan Statistical Area)",4.0,RPPs: Services: Other,99.3,98.8,97.9,97.7,98.0,98.8,100.7,101.8,101.8,101.8
49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",1.0,RPPs: All items,89.1,88.2,88.5,88.5,88.7,88.4,88.3,87.2,87.0,86.6
49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",2.0,RPPs: Goods,96.8,97.4,97.4,97.5,97.7,97.9,97.5,96.6,96.6,96.5
49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",3.0,RPPs: Services: Rents,65.2,63.1,61.5,60.9,62.3,62.1,62.8,61.2,60.8,59.5
49660,"Youngstown-Warren-Boardman, OH-PA (Metropolita...",4.0,RPPs: Services: Other,96.4,95.8,95.3,95.3,95.2,94.7,94.9,94.2,94.2,94.2
49700,"Yuba City, CA (Metropolitan Statistical Area)",1.0,RPPs: All items,97.7,98.6,98.3,98.8,98.7,99.3,98.2,97.8,96.8,96.6
49700,"Yuba City, CA (Metropolitan Statistical Area)",2.0,RPPs: Goods,95.8,96.6,97.1,97.6,96.9,96.4,95.5,95.2,95.1,95.0
49700,"Yuba City, CA (Metropolitan Statistical Area)",3.0,RPPs: Services: Rents,102.3,102.1,97.8,98.3,97.9,99.6,97.7,97.5,93.5,92.9
49700,"Yuba City, CA (Metropolitan Statistical Area)",4.0,RPPs: Services: Other,97.6,99.3,100.2,100.8,101.3,102.8,102.0,101.5,101.5,101.5
49740,"Yuma, AZ (Metropolitan Statistical Area)",1.0,RPPs: All items,93.3,94.8,94.2,95.1,93.9,94.0,92.9,92.1,91.2,90.5
49740,"Yuma, AZ (Metropolitan Statistical Area)",2.0,RPPs: Goods,95.8,96.6,97.1,97.6,96.9,96.4,95.5,95.2,95.1,95.0
49740,"Yuma, AZ (Metropolitan Statistical Area)",3.0,RPPs: Services: Rents,81.8,84.5,79.9,81.6,77.5,77.1,76.2,74.6,72.6,71.1
49740,"Yuma, AZ (Metropolitan Statistical Area)",4.0,RPPs: Services: Other,97.6,99.3,100.2,100.8,101.3,102.7,102.0,101.5,101.5,101.5
Legend / Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1/ Regional Price Parities for the United States Nonmetropolitan Portion were estimated using multiple statistical area delineations published by the Office of Management and Budget.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"2/ Regional Price Parities are not available for Enid, OK prior to 2013, Twin Falls, ID prior to 2015 and Poughkeepsie-Newburgh-Middletown, NY for 2008-2017.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
(NA) Not available.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Last updated: November 14, 2019-- revised statistics for 2008-2017.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
rpp_df.isnull().any()

GeoName        True
LineCode       True
Description    True
2008           True
2009           True
2010           True
2011           True
2012           True
2013           True
2014           True
2015           True
2016           True
2017           True
dtype: bool

In [102]:
rpp_df.count()

GeoName        1544
LineCode       1544
Description    1544
2008           1544
2009           1544
2010           1544
2011           1544
2012           1544
2013           1544
2014           1544
2015           1544
2016           1544
2017           1544
dtype: int64

In [103]:
new_rpp_df = rpp_df.dropna()
new_rpp_df.count()

GeoName        1544
LineCode       1544
Description    1544
2008           1544
2009           1544
2010           1544
2011           1544
2012           1544
2013           1544
2014           1544
2015           1544
2016           1544
2017           1544
dtype: int64

In [104]:
new_rpp_df.head()

,GeoName,LineCode,Description,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
GeoFips,,,,,,,,,,,,,
00000,United States,1.0,RPPs: All items,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
00000,United States,2.0,RPPs: Goods,99.3,99.2,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
00000,United States,3.0,RPPs: Services: Rents,101.1,101.2,102.0,101.9,101.8,101.8,101.7,101.7,101.7,101.8
00000,United States,4.0,RPPs: Services: Other,100.3,100.3,100.1,100.1,100.1,100.1,100.1,100.1,100.1,100.1
00999,United States (Nonmetropolitan Portion)1/,1.0,RPPs: All items,86.6,86.8,87.3,87.5,87.8,88.2,88.1,88.0,87.7,87.5

In [105]:
new_rpp_df.to_csv(os.path.join("..","Data","Clean","Regional_Price_Parity_Data_Clean.csv"))

In [106]:
file_winereg = pd.read_csv(os.path.join("..","Data","Raw","Wine_Regions.csv"))
print(file_winereg)

     Index                                    Region Name  Vineyards  \
0        1                              Adelaida District         42
1        2                               Alexander Valley        241
2        3                                      Alta Mesa          1
3        4               Ancient Lakes of Columbia Valley          0
4        5                                Anderson Valley         39
5        6                                      Annapolis         10
6        7  Antelope Valley of the California High Desert          0
7        8                               Applegate Valley         37
8        9                           Arroyo Grande Valley         10
9       10                                    Arroyo Seco         37
10      11                                     Atlas Peak         12
11      12                                 Ballard Canyon          8
12      13                                  Bell Mountain          1
13      14                            Ben Lomond Mountain          3
14      15                                 Benmore Valley          0
15      16                                 Bennett Valley         35
16      17                Big Valley District-Lake County         15
17      18                                   Borden Ranch          1
18      19                                      Calistoga         38
19      20                                   Capay Valley          1
20      21                                  Carmel Valley          2
21      22                            CaShenandoah Valley          7
22      23                                  Central Coast        637
23      24                                     Chalk Hill         40
24      25                                        Chalone          3
25      26                             Chehalem Mountains        182
26      27                                  Chiles Valley          2
27      28                                 Cienega Valley          4
28      29                                     Clarksburg         18
29      30                                     Clear Lake         42
..     ...                                            ...        ...
139    140                                   Sonoma Coast        775
140    141                                Sonoma Mountain         37
141    142                                  Sonoma Valley        316
142    143                                    South Coast         28
143    144                                Southern Oregon        134
144    145                       Spring Mountain District         19
145    146                                Sta. Rita Hills         35
146    147                            Stags Leap District         37
147    148                                  Suisun Valley          6
148    149                                Temecula Valley          7
149    150                         Templeton Gap District         23
150    151                          Texas Davis Mountains          0
151    152                              Texas High Plains          1
152    153                             Texas Hill Country          5
153    154                                         Texoma          0
154    155         The Rocks District of Milton-Freewater         25
155    156                                    Tracy Hills          0
156    157                                  Trinity Lakes          0
157    158                                  Umpqua Valley         45
158    159                             Walla Walla Valley        121
159    160                                      West Elks         23
160    161                              West Sonoma Coast         50
161    162                              Wild Horse Valley          0
162    163                              Willamette Valley        778
163    164                                   Willow Creek          0
164    165                                  Yakima Valley         78
165    166                                Yamhill-Carlton        105
166    167                                  York Mountain          1
167    168                            Yorkville Highlands          6
168    169                                     Yountville         19

     Wineries  Tasting Rooms               State  \
0          15             16          California
1          41             23          California
2           0              0          California
3           0              0          Washington
4           7              5          California
5           0              0          California
6           0              0          California
7          17             18              Oregon
8           4              2          California
9           0              0          California
10          1              0          California
11          0              0          California
12          0              0               Texas
13          2              2          California
14          0              0          California
15          2              1          California
16          0              0          California
17          0              0          California
18          1              0          California
19          0              0          California
20          0              0          California
21          3              3          California
22        122            118          California
23          6              3          California
24          0              0          California
25         53             34              Oregon
26          0              0          California
27          0              0          California
28          3              3          California
29          0              0          California
..        ...            ...                 ...
139       115             85          California
140         1              1          California
141        47             33          California
142        10              9          California
143        52             59              Oregon
144         0              0          California
145         2              3          California
146        15             13          California
147         0              0          California
148         4              3          California
149         5              4          California
150         0              0               Texas
151         0              1               Texas
152         2              0               Texas
153         0              0     Texas, Oklahoma
154         0              0              Oregon
155         0              0          California
156         0              0          California
157        19             22              Oregon
158        25             25  Oregon, Washington
159        10             12            Colorado
160         3              2          California
161         0              0          California
162       269            263  Oregon, Washington
163         0              0          California
164         8              7          Washington
165        31             26              Oregon
166         0              0          California
167         2              2          California
168         8              8          California

                                                County
0                                      San Luis Obispo
1                                               Sonoma
2                              Sacramento, San Joaquin
3                             Douglas, Grant, Kittitas
4                                            Mendocino
5                                               Sonoma
6                                    Kern, Los Angeles
7                                   Jackson, Josephine
8                                      San Luis Obispo
9                                             Monterey
10                                                Napa
11                                       Santa Barbara
12                                           Gillespie
13                                          Santa Cruz
14                                                Lake
15                                              Sonoma
16                                                Lake
17                     Amador, Sacramento, San Joaquin
18                                                Napa
19                                                Yolo
20                                            Monterey
21                                   Amador, El Dorado
22   Alameda, Contra Costa, Fresno, Kern, Kings, Me...
23                                              Sonoma
24                                Monterey, San Benito
25                      Clackamas, Washington, Yamhill
26                                                Napa
27                                          San Benito
28                            Sacramento, Solano, Yolo
29                                                Lake
..                                                 ...
139                                             Sonoma
140                                             Sonoma
141                                             Sonoma
142  Los Angeles, Orange, Riverside, San Diego, San...
143                  Douglas, Jackson, Josephine, Lane
144                                               Napa
145                                      Santa Barbara
146                                               Napa
147                                       Napa, Solano
148                               Riverside, San Diego
149                                    San Luis Obispo
150                                         Jeff Davis
151  Armstrong, Deaf Smith, Randall, Borden, Dawson...
152  Bandera, Blanco, Comal, Edwards, Gillespie, Gu...
153  Collin, Cooke, Denton, Fannin, Grayson, Lamar,...
154                                           Umatilla
155                            San Joaquin, Stanislaus
156                                            Trinity
157                                      Douglas, Lane
158                                        Walla Walla
159                                              Delta
160                                  Mendocino, Sonoma
161                                       Napa, Solano
162  Benton, Lane, Linn, Clackamas, Lincoln, Marion...
163                                  Humboldt, Trinity
164                                     Benton, Yakima
165                                Washington, Yamhill
166                                    San Luis Obispo
167                                          Mendocino
168                                               Napa

[169 rows x 7 columns]

In [108]:
winereg_df = pd.DataFrame(file_winereg)
winereg_df.set_index("Region Name", inplace=True)
winereg_df

,Index,Vineyards,Wineries,Tasting Rooms,State,County
Region Name,,,,,,
Adelaida District,1,42,15,16,California,San Luis Obispo
Alexander Valley,2,241,41,23,California,Sonoma
Alta Mesa,3,1,0,0,California,"Sacramento, San Joaquin"
Ancient Lakes of Columbia Valley,4,0,0,0,Washington,"Douglas, Grant, Kittitas"
Anderson Valley,5,39,7,5,California,Mendocino
Annapolis,6,10,0,0,California,Sonoma
Antelope Valley of the California High Desert,7,0,0,0,California,"Kern, Los Angeles"
Applegate Valley,8,37,17,18,Oregon,"Jackson, Josephine"
Arroyo Grande Valley,9,10,4,2,California,San Luis Obispo
Arroyo Seco,10,37,0,0,California,Monterey
Atlas Peak,11,12,1,0,California,Napa
Ballard Canyon,12,8,0,0,California,Santa Barbara
Bell Mountain,13,1,0,0,Texas,Gillespie
Ben Lomond Mountain,14,3,2,2,California,Santa Cruz
Benmore Valley,15,0,0,0,California,Lake
Bennett Valley,16,35,2,1,California,Sonoma
Big Valley District-Lake County,17,15,0,0,California,Lake
Borden Ranch,18,1,0,0,California,"Amador, Sacramento, San Joaquin"
Calistoga,19,38,1,0,California,Napa
Capay Valley,20,1,0,0,California,Yolo
Carmel Valley,21,2,0,0,California,Monterey
CaShenandoah Valley,22,7,3,3,California,"Amador, El Dorado"
Central Coast,23,637,122,118,California,"Alameda, Contra Costa, Fresno, Kern, Kings, Me..."
Chalk Hill,24,40,6,3,California,Sonoma
Chalone,25,3,0,0,California,"Monterey, San Benito"
Chehalem Mountains,26,182,53,34,Oregon,"Clackamas, Washington, Yamhill"
Chiles Valley,27,2,0,0,California,Napa
Cienega Valley,28,4,0,0,California,San Benito
Clarksburg,29,18,3,3,California,"Sacramento, Solano, Yolo"
Clear Lake,30,42,0,0,California,Lake
...,...,...,...,...,...,...
Sonoma Coast,140,775,115,85,California,Sonoma
Sonoma Mountain,141,37,1,1,California,Sonoma
Sonoma Valley,142,316,47,33,California,Sonoma
South Coast,143,28,10,9,California,"Los Angeles, Orange, Riverside, San Diego, San..."
Southern Oregon,144,134,52,59,Oregon,"Douglas, Jackson, Josephine, Lane"
Spring Mountain District,145,19,0,0,California,Napa
Sta. Rita Hills,146,35,2,3,California,Santa Barbara
Stags Leap District,147,37,15,13,California,Napa
Suisun Valley,148,6,0,0,California,"Napa, Solano"
Temecula Valley,149,7,4,3,California,"Riverside, San Diego"
Templeton Gap District,150,23,5,4,California,San Luis Obispo
Texas Davis Mountains,151,0,0,0,Texas,Jeff Davis
Texas High Plains,152,1,0,1,Texas,"Armstrong, Deaf Smith, Randall, Borden, Dawson..."
Texas Hill Country,153,5,2,0,Texas,"Bandera, Blanco, Comal, Edwards, Gillespie, Gu..."
Texoma,154,0,0,0,"Texas, Oklahoma","Collin, Cooke, Denton, Fannin, Grayson, Lamar,..."
The Rocks District of Milton-Freewater,155,25,0,0,Oregon,Umatilla
Tracy Hills,156,0,0,0,California,"San Joaquin, Stanislaus"
Trinity Lakes,157,0,0,0,California,Trinity
Umpqua Valley,158,45,19,22,Oregon,"Douglas, Lane"
Walla Walla Valley,159,121,25,25,"Oregon, Washington",Walla Walla
West Elks,160,23,10,12,Colorado,Delta
West Sonoma Coast,161,50,3,2,California,"Mendocino, Sonoma"
Wild Horse Valley,162,0,0,0,California,"Napa, Solano"
Willamette Valley,163,778,269,263,"Oregon, Washington","Benton, Lane, Linn, Clackamas, Lincoln, Marion..."
Willow Creek,164,0,0,0,California,"Humboldt, Trinity"
Yakima Valley,165,78,8,7,Washington,"Benton, Yakima"
Yamhill-Carlton,166,105,31,26,Oregon,"Washington, Yamhill"
York Mountain,167,1,0,0,California,San Luis Obispo
Yorkville Highlands,168,6,2,2,California,Mendocino
Yountville,169,19,8,8,California,Napa

In [109]:
winereg_df = winereg_df.drop(columns='Index')
winereg_df

,Vineyards,Wineries,Tasting Rooms,State,County
Region Name,,,,,
Adelaida District,42,15,16,California,San Luis Obispo
Alexander Valley,241,41,23,California,Sonoma
Alta Mesa,1,0,0,California,"Sacramento, San Joaquin"
Ancient Lakes of Columbia Valley,0,0,0,Washington,"Douglas, Grant, Kittitas"
Anderson Valley,39,7,5,California,Mendocino
Annapolis,10,0,0,California,Sonoma
Antelope Valley of the California High Desert,0,0,0,California,"Kern, Los Angeles"
Applegate Valley,37,17,18,Oregon,"Jackson, Josephine"
Arroyo Grande Valley,10,4,2,California,San Luis Obispo
Arroyo Seco,37,0,0,California,Monterey
Atlas Peak,12,1,0,California,Napa
Ballard Canyon,8,0,0,California,Santa Barbara
Bell Mountain,1,0,0,Texas,Gillespie
Ben Lomond Mountain,3,2,2,California,Santa Cruz
Benmore Valley,0,0,0,California,Lake
Bennett Valley,35,2,1,California,Sonoma
Big Valley District-Lake County,15,0,0,California,Lake
Borden Ranch,1,0,0,California,"Amador, Sacramento, San Joaquin"
Calistoga,38,1,0,California,Napa
Capay Valley,1,0,0,California,Yolo
Carmel Valley,2,0,0,California,Monterey
CaShenandoah Valley,7,3,3,California,"Amador, El Dorado"
Central Coast,637,122,118,California,"Alameda, Contra Costa, Fresno, Kern, Kings, Me..."
Chalk Hill,40,6,3,California,Sonoma
Chalone,3,0,0,California,"Monterey, San Benito"
Chehalem Mountains,182,53,34,Oregon,"Clackamas, Washington, Yamhill"
Chiles Valley,2,0,0,California,Napa
Cienega Valley,4,0,0,California,San Benito
Clarksburg,18,3,3,California,"Sacramento, Solano, Yolo"
Clear Lake,42,0,0,California,Lake
...,...,...,...,...,...
Sonoma Coast,775,115,85,California,Sonoma
Sonoma Mountain,37,1,1,California,Sonoma
Sonoma Valley,316,47,33,California,Sonoma
South Coast,28,10,9,California,"Los Angeles, Orange, Riverside, San Diego, San..."
Southern Oregon,134,52,59,Oregon,"Douglas, Jackson, Josephine, Lane"
Spring Mountain District,19,0,0,California,Napa
Sta. Rita Hills,35,2,3,California,Santa Barbara
Stags Leap District,37,15,13,California,Napa
Suisun Valley,6,0,0,California,"Napa, Solano"
Temecula Valley,7,4,3,California,"Riverside, San Diego"
Templeton Gap District,23,5,4,California,San Luis Obispo
Texas Davis Mountains,0,0,0,Texas,Jeff Davis
Texas High Plains,1,0,1,Texas,"Armstrong, Deaf Smith, Randall, Borden, Dawson..."
Texas Hill Country,5,2,0,Texas,"Bandera, Blanco, Comal, Edwards, Gillespie, Gu..."
Texoma,0,0,0,"Texas, Oklahoma","Collin, Cooke, Denton, Fannin, Grayson, Lamar,..."
The Rocks District of Milton-Freewater,25,0,0,Oregon,Umatilla
Tracy Hills,0,0,0,California,"San Joaquin, Stanislaus"
Trinity Lakes,0,0,0,California,Trinity
Umpqua Valley,45,19,22,Oregon,"Douglas, Lane"
Walla Walla Valley,121,25,25,"Oregon, Washington",Walla Walla
West Elks,23,10,12,Colorado,Delta
West Sonoma Coast,50,3,2,California,"Mendocino, Sonoma"
Wild Horse Valley,0,0,0,California,"Napa, Solano"
Willamette Valley,778,269,263,"Oregon, Washington","Benton, Lane, Linn, Clackamas, Lincoln, Marion..."
Willow Creek,0,0,0,California,"Humboldt, Trinity"
Yakima Valley,78,8,7,Washington,"Benton, Yakima"
Yamhill-Carlton,105,31,26,Oregon,"Washington, Yamhill"
York Mountain,1,0,0,California,San Luis Obispo
Yorkville Highlands,6,2,2,California,Mendocino
Yountville,19,8,8,California,Napa

In [111]:
# winereg_df.count()
# winereg_df.isnull().any()

Vineyards        False
Wineries         False
Tasting Rooms    False
State            False
County           False
dtype: bool

In [114]:
winereg_df.to_csv(os.path.join("..","Data","Clean","Wine_Regions_Clean.csv"))

In [119]:
file_alccongeo = pd.read_csv(os.path.join("..","Data","Raw","per_capita_alcohol_consumption_geographic_1977_2017.csv"), header=3)
print(file_alccongeo)

                                        geographic area    Year  Beer  Wine  \
0                                               Alabama  2017.0  1.06  0.26
1                                               Alabama  2016.0  1.09  0.26
2                                               Alabama  2015.0  1.12  0.26
3                                               Alabama  2014.0  1.13  0.25
4                                               Alabama  2013.0  1.14  0.25
5                                               Alabama  2012.0  1.16  0.24
6                                               Alabama  2011.0  1.16  0.24
7                                               Alabama  2010.0  1.17  0.23
8                                               Alabama  2009.0  1.19  0.22
9                                               Alabama  2008.0  1.22  0.22
10                                              Alabama  2007.0  1.23  0.22
11                                              Alabama  2006.0  1.21  0.21
12                                              Alabama  2005.0  1.18  0.20
13                                              Alabama  2004.0  1.19  0.20
14                                              Alabama  2003.0  1.19  0.19
15                                              Alabama  2002.0  1.18  0.21
16                                              Alabama  2001.0  1.16  0.17
17                                              Alabama  2000.0  1.19  0.18
18                                              Alabama  1999.0  1.18  0.17
19                                              Alabama  1998.0  1.16  0.17
20                                              Alabama  1997.0  1.14  0.16
21                                              Alabama  1996.0  1.17  0.18
22                                              Alabama  1995.0  1.14  0.16
23                                              Alabama  1994.0  1.16  0.17
24                                              Alabama  1993.0  1.14  0.17
25                                              Alabama  1992.0  1.02  0.19
26                                              Alabama  1991.0  1.00  0.17
27                                              Alabama  1990.0  1.12  0.18
28                                              Alabama  1989.0  1.12  0.17
29                                              Alabama  1988.0  1.12  0.19
...                                                 ...     ...   ...   ...
2267                                         U.S. total  2005.0  1.20  0.36
2268                                         U.S. total  2004.0  1.21  0.35
2269                                         U.S. total  2003.0  1.21  0.34
2270                                         U.S. total  2002.0  1.23  0.33
2271                                         U.S. total  2001.0  1.23  0.31
2272                                         U.S. total  2000.0  1.23  0.31
2273                                         U.S. total  1999.0  1.23  0.31
2274                                         U.S. total  1998.0  1.22  0.30
2275                                         U.S. total  1997.0  1.22  0.30
2276                                         U.S. total  1996.0  1.23  0.30
2277                                         U.S. total  1995.0  1.24  0.29
2278                                         U.S. total  1994.0  1.25  0.28
2279                                         U.S. total  1993.0  1.26  0.28
2280                                         U.S. total  1992.0  1.29  0.30
2281                                         U.S. total  1991.0  1.29  0.30
2282                                         U.S. total  1990.0  1.34  0.33
2283                                         U.S. total  1989.0  1.32  0.34
2284                                         U.S. total  1988.0  1.33  0.36
2285                                         U.S. total  1987.0  1.34  0.38
2286                                         U.S. total  1986.0  1.35  0.39
2287                                         U.S. total  1985.0  1.33  0.38
2288                                         U.S. total  1984.0  1.35  0.37
2289                                         U.S. total  1983.0  1.37  0.36
2290                                         U.S. total  1982.0  1.38  0.36
2291                                         U.S. total  1981.0  1.39  0.35
2292                                         U.S. total  1980.0  1.37  0.34
2293                                         U.S. total  1979.0  1.34  0.31
2294                                         U.S. total  1978.0  1.30  0.30
2295                                         U.S. total  1977.0  1.27  0.29
2296  Decile values (1= highest) apply only to State...     NaN   NaN   NaN

      Spirits  All beverages  all beverages
0        0.67           1.99            9.0
1        0.65           2.01            9.0
2        0.64           2.01            9.0
3        0.62           2.00            9.0
4        0.60           1.99            9.0
5        0.60           2.00            9.0
6        0.59           1.98            9.0
7        0.58           1.98            9.0
8        0.57           1.98            9.0
9        0.57           2.01            9.0
10       0.55           2.00            9.0
11       0.54           1.95            9.0
12       0.53           1.91            9.0
13       0.52           1.91            9.0
14       0.52           1.90            9.0
15       0.54           1.92            9.0
16       0.53           1.86            9.0
17       0.51           1.88            9.0
18       0.51           1.87            9.0
19       0.51           1.85            9.0
20       0.52           1.82            9.0
21       0.53           1.88            8.0
22       0.53           1.82            9.0
23       0.54           1.87            9.0
24       0.56           1.86            9.0
25       0.59           1.79           10.0
26       0.59           1.76           10.0
27       0.61           1.92            9.0
28       0.61           1.90            9.0
29       0.62           1.92            9.0
...       ...            ...            ...
2267     0.70           2.25            NaN
2268     0.68           2.24            NaN
2269     0.67           2.22            NaN
2270     0.64           2.20            NaN
2271     0.64           2.18            NaN
2272     0.64           2.19            NaN
2273     0.63           2.17            NaN
2274     0.62           2.15            NaN
2275     0.62           2.15            NaN
2276     0.63           2.16            NaN
2277     0.63           2.15            NaN
2278     0.65           2.18            NaN
2279     0.68           2.23            NaN
2280     0.71           2.30            NaN
2281     0.71           2.30            NaN
2282     0.77           2.45            NaN
2283     0.78           2.43            NaN
2284     0.79           2.49            NaN
2285     0.83           2.55            NaN
2286     0.84           2.58            NaN
2287     0.91           2.62            NaN
2288     0.94           2.65            NaN
2289     0.96           2.69            NaN
2290     0.98           2.72            NaN
2291     1.02           2.76            NaN
2292     1.04           2.75            NaN
2293     1.04           2.70            NaN
2294     1.05           2.66            NaN
2295     1.04           2.60            NaN
2296      NaN            NaN            NaN

[2297 rows x 7 columns]

In [120]:
alcohol_consump_geo = pd.DataFrame(file_alccongeo)
alcohol_consump_geo.set_index("geographic area", inplace = True)
alcohol_consump_geo.rename(columns = {'all beverages':'Decile all beverages'}, inplace = True)
alcohol_consump_geo

,Year,Beer,Wine,Spirits,All beverages,Decile all beverages
geographic area,,,,,,
Alabama,2017.0,1.06,0.26,0.67,1.99,9.0
Alabama,2016.0,1.09,0.26,0.65,2.01,9.0
Alabama,2015.0,1.12,0.26,0.64,2.01,9.0
Alabama,2014.0,1.13,0.25,0.62,2.00,9.0
Alabama,2013.0,1.14,0.25,0.60,1.99,9.0
Alabama,2012.0,1.16,0.24,0.60,2.00,9.0
Alabama,2011.0,1.16,0.24,0.59,1.98,9.0
Alabama,2010.0,1.17,0.23,0.58,1.98,9.0
Alabama,2009.0,1.19,0.22,0.57,1.98,9.0
Alabama,2008.0,1.22,0.22,0.57,2.01,9.0
Alabama,2007.0,1.23,0.22,0.55,2.00,9.0
Alabama,2006.0,1.21,0.21,0.54,1.95,9.0
Alabama,2005.0,1.18,0.20,0.53,1.91,9.0
Alabama,2004.0,1.19,0.20,0.52,1.91,9.0
Alabama,2003.0,1.19,0.19,0.52,1.90,9.0
Alabama,2002.0,1.18,0.21,0.54,1.92,9.0
Alabama,2001.0,1.16,0.17,0.53,1.86,9.0
Alabama,2000.0,1.19,0.18,0.51,1.88,9.0
Alabama,1999.0,1.18,0.17,0.51,1.87,9.0
Alabama,1998.0,1.16,0.17,0.51,1.85,9.0
Alabama,1997.0,1.14,0.16,0.52,1.82,9.0
Alabama,1996.0,1.17,0.18,0.53,1.88,8.0
Alabama,1995.0,1.14,0.16,0.53,1.82,9.0
Alabama,1994.0,1.16,0.17,0.54,1.87,9.0
Alabama,1993.0,1.14,0.17,0.56,1.86,9.0
Alabama,1992.0,1.02,0.19,0.59,1.79,10.0
Alabama,1991.0,1.00,0.17,0.59,1.76,10.0
Alabama,1990.0,1.12,0.18,0.61,1.92,9.0
Alabama,1989.0,1.12,0.17,0.61,1.90,9.0
Alabama,1988.0,1.12,0.19,0.62,1.92,9.0
...,...,...,...,...,...,...
U.S. total,2005.0,1.20,0.36,0.70,2.25,NaN
U.S. total,2004.0,1.21,0.35,0.68,2.24,NaN
U.S. total,2003.0,1.21,0.34,0.67,2.22,NaN
U.S. total,2002.0,1.23,0.33,0.64,2.20,NaN
U.S. total,2001.0,1.23,0.31,0.64,2.18,NaN
U.S. total,2000.0,1.23,0.31,0.64,2.19,NaN
U.S. total,1999.0,1.23,0.31,0.63,2.17,NaN
U.S. total,1998.0,1.22,0.30,0.62,2.15,NaN
U.S. total,1997.0,1.22,0.30,0.62,2.15,NaN
U.S. total,1996.0,1.23,0.30,0.63,2.16,NaN
U.S. total,1995.0,1.24,0.29,0.63,2.15,NaN
U.S. total,1994.0,1.25,0.28,0.65,2.18,NaN
U.S. total,1993.0,1.26,0.28,0.68,2.23,NaN
U.S. total,1992.0,1.29,0.30,0.71,2.30,NaN
U.S. total,1991.0,1.29,0.30,0.71,2.30,NaN
U.S. total,1990.0,1.34,0.33,0.77,2.45,NaN
U.S. total,1989.0,1.32,0.34,0.78,2.43,NaN
U.S. total,1988.0,1.33,0.36,0.79,2.49,NaN
U.S. total,1987.0,1.34,0.38,0.83,2.55,NaN
U.S. total,1986.0,1.35,0.39,0.84,2.58,NaN
U.S. total,1985.0,1.33,0.38,0.91,2.62,NaN
U.S. total,1984.0,1.35,0.37,0.94,2.65,NaN
U.S. total,1983.0,1.37,0.36,0.96,2.69,NaN
U.S. total,1982.0,1.38,0.36,0.98,2.72,NaN
U.S. total,1981.0,1.39,0.35,1.02,2.76,NaN
U.S. total,1980.0,1.37,0.34,1.04,2.75,NaN
U.S. total,1979.0,1.34,0.31,1.04,2.70,NaN
U.S. total,1978.0,1.30,0.30,1.05,2.66,NaN
U.S. total,1977.0,1.27,0.29,1.04,2.60,NaN
Decile values (1= highest) apply only to Statelevel data. Numbers may not sum because of rounding.,NaN,NaN,NaN,NaN,NaN,NaN

In [129]:
# alcohol_consump_geo.count()
# alcohol_consump_geo.isnull().any()
# alcohol_consump_geo.loc[alcohol_consump_geo.isnull().any(axis=1)]

,Year,Beer,Wine,Spirits,All beverages,Decile all beverages
geographic area,,,,,,
Northeast region,2017.0,1.01,0.52,0.87,2.40,NaN
Northeast region,2016.0,1.03,0.52,0.86,2.41,NaN
Northeast region,2015.0,1.03,0.51,0.84,2.38,NaN
Northeast region,2014.0,1.03,0.52,0.84,2.39,NaN
Northeast region,2013.0,1.05,0.51,0.83,2.40,NaN
Northeast region,2012.0,1.06,0.51,0.82,2.39,NaN
Northeast region,2011.0,1.05,0.50,0.80,2.36,NaN
Northeast region,2010.0,1.06,0.49,0.78,2.33,NaN
Northeast region,2009.0,1.07,0.48,0.77,2.31,NaN
Northeast region,2008.0,1.09,0.47,0.76,2.31,NaN
Northeast region,2007.0,1.09,0.47,0.75,2.31,NaN
Northeast region,2006.0,1.07,0.45,0.73,2.25,NaN
Northeast region,2005.0,1.07,0.44,0.72,2.22,NaN
Northeast region,2004.0,1.07,0.43,0.70,2.20,NaN
Northeast region,2003.0,1.08,0.41,0.68,2.17,NaN
Northeast region,2002.0,1.10,0.40,0.66,2.16,NaN
Northeast region,2001.0,1.10,0.38,0.64,2.13,NaN
Northeast region,2000.0,1.08,0.38,0.66,2.12,NaN
Northeast region,1999.0,1.07,0.38,0.63,2.08,NaN
Northeast region,1998.0,1.07,0.37,0.61,2.05,NaN
Northeast region,1997.0,1.07,0.36,0.63,2.06,NaN
Northeast region,1996.0,1.07,0.36,0.64,2.06,NaN
Northeast region,1995.0,1.11,0.35,0.64,2.11,NaN
Northeast region,1994.0,1.11,0.34,0.67,2.12,NaN
Northeast region,1993.0,1.13,0.34,0.68,2.15,NaN
Northeast region,1992.0,1.14,0.35,0.72,2.21,NaN
Northeast region,1991.0,1.19,0.34,0.73,2.26,NaN
Northeast region,1990.0,1.23,0.38,0.80,2.41,NaN
Northeast region,1989.0,1.22,0.39,0.84,2.44,NaN
Northeast region,1988.0,1.25,0.40,0.86,2.51,NaN
...,...,...,...,...,...,...
U.S. total,2005.0,1.20,0.36,0.70,2.25,NaN
U.S. total,2004.0,1.21,0.35,0.68,2.24,NaN
U.S. total,2003.0,1.21,0.34,0.67,2.22,NaN
U.S. total,2002.0,1.23,0.33,0.64,2.20,NaN
U.S. total,2001.0,1.23,0.31,0.64,2.18,NaN
U.S. total,2000.0,1.23,0.31,0.64,2.19,NaN
U.S. total,1999.0,1.23,0.31,0.63,2.17,NaN
U.S. total,1998.0,1.22,0.30,0.62,2.15,NaN
U.S. total,1997.0,1.22,0.30,0.62,2.15,NaN
U.S. total,1996.0,1.23,0.30,0.63,2.16,NaN
U.S. total,1995.0,1.24,0.29,0.63,2.15,NaN
U.S. total,1994.0,1.25,0.28,0.65,2.18,NaN
U.S. total,1993.0,1.26,0.28,0.68,2.23,NaN
U.S. total,1992.0,1.29,0.30,0.71,2.30,NaN
U.S. total,1991.0,1.29,0.30,0.71,2.30,NaN
U.S. total,1990.0,1.34,0.33,0.77,2.45,NaN
U.S. total,1989.0,1.32,0.34,0.78,2.43,NaN
U.S. total,1988.0,1.33,0.36,0.79,2.49,NaN
U.S. total,1987.0,1.34,0.38,0.83,2.55,NaN
U.S. total,1986.0,1.35,0.39,0.84,2.58,NaN
U.S. total,1985.0,1.33,0.38,0.91,2.62,NaN
U.S. total,1984.0,1.35,0.37,0.94,2.65,NaN
U.S. total,1983.0,1.37,0.36,0.96,2.69,NaN
U.S. total,1982.0,1.38,0.36,0.98,2.72,NaN
U.S. total,1981.0,1.39,0.35,1.02,2.76,NaN
U.S. total,1980.0,1.37,0.34,1.04,2.75,NaN
U.S. total,1979.0,1.34,0.31,1.04,2.70,NaN
U.S. total,1978.0,1.30,0.30,1.05,2.66,NaN
U.S. total,1977.0,1.27,0.29,1.04,2.60,NaN
Decile values (1= highest) apply only to Statelevel data. Numbers may not sum because of rounding.,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
alcohol_consump_geo = alcohol_consump_geo[:-1]
alcohol_consump_geo

,Year,Beer,Wine,Spirits,All beverages,Decile all beverages
geographic area,,,,,,
Alabama,2017.0,1.06,0.26,0.67,1.99,9.0
Alabama,2016.0,1.09,0.26,0.65,2.01,9.0
Alabama,2015.0,1.12,0.26,0.64,2.01,9.0
Alabama,2014.0,1.13,0.25,0.62,2.00,9.0
Alabama,2013.0,1.14,0.25,0.60,1.99,9.0
Alabama,2012.0,1.16,0.24,0.60,2.00,9.0
Alabama,2011.0,1.16,0.24,0.59,1.98,9.0
Alabama,2010.0,1.17,0.23,0.58,1.98,9.0
Alabama,2009.0,1.19,0.22,0.57,1.98,9.0
Alabama,2008.0,1.22,0.22,0.57,2.01,9.0
Alabama,2007.0,1.23,0.22,0.55,2.00,9.0
Alabama,2006.0,1.21,0.21,0.54,1.95,9.0
Alabama,2005.0,1.18,0.20,0.53,1.91,9.0
Alabama,2004.0,1.19,0.20,0.52,1.91,9.0
Alabama,2003.0,1.19,0.19,0.52,1.90,9.0
Alabama,2002.0,1.18,0.21,0.54,1.92,9.0
Alabama,2001.0,1.16,0.17,0.53,1.86,9.0
Alabama,2000.0,1.19,0.18,0.51,1.88,9.0
Alabama,1999.0,1.18,0.17,0.51,1.87,9.0
Alabama,1998.0,1.16,0.17,0.51,1.85,9.0
Alabama,1997.0,1.14,0.16,0.52,1.82,9.0
Alabama,1996.0,1.17,0.18,0.53,1.88,8.0
Alabama,1995.0,1.14,0.16,0.53,1.82,9.0
Alabama,1994.0,1.16,0.17,0.54,1.87,9.0
Alabama,1993.0,1.14,0.17,0.56,1.86,9.0
Alabama,1992.0,1.02,0.19,0.59,1.79,10.0
Alabama,1991.0,1.00,0.17,0.59,1.76,10.0
Alabama,1990.0,1.12,0.18,0.61,1.92,9.0
Alabama,1989.0,1.12,0.17,0.61,1.90,9.0
Alabama,1988.0,1.12,0.19,0.62,1.92,9.0
...,...,...,...,...,...,...
U.S. total,2006.0,1.20,0.37,0.71,2.28,NaN
U.S. total,2005.0,1.20,0.36,0.70,2.25,NaN
U.S. total,2004.0,1.21,0.35,0.68,2.24,NaN
U.S. total,2003.0,1.21,0.34,0.67,2.22,NaN
U.S. total,2002.0,1.23,0.33,0.64,2.20,NaN
U.S. total,2001.0,1.23,0.31,0.64,2.18,NaN
U.S. total,2000.0,1.23,0.31,0.64,2.19,NaN
U.S. total,1999.0,1.23,0.31,0.63,2.17,NaN
U.S. total,1998.0,1.22,0.30,0.62,2.15,NaN
U.S. total,1997.0,1.22,0.30,0.62,2.15,NaN
U.S. total,1996.0,1.23,0.30,0.63,2.16,NaN
U.S. total,1995.0,1.24,0.29,0.63,2.15,NaN
U.S. total,1994.0,1.25,0.28,0.65,2.18,NaN
U.S. total,1993.0,1.26,0.28,0.68,2.23,NaN
U.S. total,1992.0,1.29,0.30,0.71,2.30,NaN
U.S. total,1991.0,1.29,0.30,0.71,2.30,NaN
U.S. total,1990.0,1.34,0.33,0.77,2.45,NaN
U.S. total,1989.0,1.32,0.34,0.78,2.43,NaN
U.S. total,1988.0,1.33,0.36,0.79,2.49,NaN
U.S. total,1987.0,1.34,0.38,0.83,2.55,NaN
U.S. total,1986.0,1.35,0.39,0.84,2.58,NaN
U.S. total,1985.0,1.33,0.38,0.91,2.62,NaN
U.S. total,1984.0,1.35,0.37,0.94,2.65,NaN
U.S. total,1983.0,1.37,0.36,0.96,2.69,NaN
U.S. total,1982.0,1.38,0.36,0.98,2.72,NaN
U.S. total,1981.0,1.39,0.35,1.02,2.76,NaN
U.S. total,1980.0,1.37,0.34,1.04,2.75,NaN
U.S. total,1979.0,1.34,0.31,1.04,2.70,NaN
U.S. total,1978.0,1.30,0.30,1.05,2.66,NaN
U.S. total,1977.0,1.27,0.29,1.04,2.60,NaN

In [135]:
alcohol_consump_geo_df = alcohol_consump_geo.fillna(value=0)
alcohol_consump_geo_df

,Year,Beer,Wine,Spirits,All beverages,Decile all beverages
geographic area,,,,,,
Alabama,2017.0,1.06,0.26,0.67,1.99,9.0
Alabama,2016.0,1.09,0.26,0.65,2.01,9.0
Alabama,2015.0,1.12,0.26,0.64,2.01,9.0
Alabama,2014.0,1.13,0.25,0.62,2.00,9.0
Alabama,2013.0,1.14,0.25,0.60,1.99,9.0
Alabama,2012.0,1.16,0.24,0.60,2.00,9.0
Alabama,2011.0,1.16,0.24,0.59,1.98,9.0
Alabama,2010.0,1.17,0.23,0.58,1.98,9.0
Alabama,2009.0,1.19,0.22,0.57,1.98,9.0
Alabama,2008.0,1.22,0.22,0.57,2.01,9.0
Alabama,2007.0,1.23,0.22,0.55,2.00,9.0
Alabama,2006.0,1.21,0.21,0.54,1.95,9.0
Alabama,2005.0,1.18,0.20,0.53,1.91,9.0
Alabama,2004.0,1.19,0.20,0.52,1.91,9.0
Alabama,2003.0,1.19,0.19,0.52,1.90,9.0
Alabama,2002.0,1.18,0.21,0.54,1.92,9.0
Alabama,2001.0,1.16,0.17,0.53,1.86,9.0
Alabama,2000.0,1.19,0.18,0.51,1.88,9.0
Alabama,1999.0,1.18,0.17,0.51,1.87,9.0
Alabama,1998.0,1.16,0.17,0.51,1.85,9.0
Alabama,1997.0,1.14,0.16,0.52,1.82,9.0
Alabama,1996.0,1.17,0.18,0.53,1.88,8.0
Alabama,1995.0,1.14,0.16,0.53,1.82,9.0
Alabama,1994.0,1.16,0.17,0.54,1.87,9.0
Alabama,1993.0,1.14,0.17,0.56,1.86,9.0
Alabama,1992.0,1.02,0.19,0.59,1.79,10.0
Alabama,1991.0,1.00,0.17,0.59,1.76,10.0
Alabama,1990.0,1.12,0.18,0.61,1.92,9.0
Alabama,1989.0,1.12,0.17,0.61,1.90,9.0
Alabama,1988.0,1.12,0.19,0.62,1.92,9.0
...,...,...,...,...,...,...
U.S. total,2006.0,1.20,0.37,0.71,2.28,0.0
U.S. total,2005.0,1.20,0.36,0.70,2.25,0.0
U.S. total,2004.0,1.21,0.35,0.68,2.24,0.0
U.S. total,2003.0,1.21,0.34,0.67,2.22,0.0
U.S. total,2002.0,1.23,0.33,0.64,2.20,0.0
U.S. total,2001.0,1.23,0.31,0.64,2.18,0.0
U.S. total,2000.0,1.23,0.31,0.64,2.19,0.0
U.S. total,1999.0,1.23,0.31,0.63,2.17,0.0
U.S. total,1998.0,1.22,0.30,0.62,2.15,0.0
U.S. total,1997.0,1.22,0.30,0.62,2.15,0.0
U.S. total,1996.0,1.23,0.30,0.63,2.16,0.0
U.S. total,1995.0,1.24,0.29,0.63,2.15,0.0
U.S. total,1994.0,1.25,0.28,0.65,2.18,0.0
U.S. total,1993.0,1.26,0.28,0.68,2.23,0.0
U.S. total,1992.0,1.29,0.30,0.71,2.30,0.0
U.S. total,1991.0,1.29,0.30,0.71,2.30,0.0
U.S. total,1990.0,1.34,0.33,0.77,2.45,0.0
U.S. total,1989.0,1.32,0.34,0.78,2.43,0.0
U.S. total,1988.0,1.33,0.36,0.79,2.49,0.0
U.S. total,1987.0,1.34,0.38,0.83,2.55,0.0
U.S. total,1986.0,1.35,0.39,0.84,2.58,0.0
U.S. total,1985.0,1.33,0.38,0.91,2.62,0.0
U.S. total,1984.0,1.35,0.37,0.94,2.65,0.0
U.S. total,1983.0,1.37,0.36,0.96,2.69,0.0
U.S. total,1982.0,1.38,0.36,0.98,2.72,0.0
U.S. total,1981.0,1.39,0.35,1.02,2.76,0.0
U.S. total,1980.0,1.37,0.34,1.04,2.75,0.0
U.S. total,1979.0,1.34,0.31,1.04,2.70,0.0
U.S. total,1978.0,1.30,0.30,1.05,2.66,0.0
U.S. total,1977.0,1.27,0.29,1.04,2.60,0.0

In [136]:
alcohol_consump_geo_df.to_csv(os.path.join("..","Data","Clean","per_capita_alcohol_consumption_geographic_1977_2017_clean.csv"))